DEVICE=br-ex
DEVICETYPE=ovs
TYPE=OVSBridge
BOOTPROTO=static
IPADDR={{ ansible_eth0.ipv4.address }}
NETMASK={{ ansible_eth0.ipv4.netmask }}
GATEWAY={{ ansible_eth0.ipv4.gateway }}
DNS1=8.8.8.8
ONBOOT=yes
